optimizer-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1184,
        352
      ],
      "id": "ae2dcd40-386c-47e5-9ad8-6b274f5ea416",
      "name": "Optimizer Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "You are an AI system optimizer.\n\nYour job is to analyze support performance data and suggest improvements.\n\nIf escalation rate is high:\n- Suggest new FAQ rules\n- Suggest better auto-responses\n- Suggest new classification logic\n\nReturn ONLY valid JSON:\n\n{\n  \"change_type\": \"faq | rule | response | classification\",\n  \"suggestion\": \"\",\n  \"reason\": \"\"\n}\n",
              "role": "model"
            },
            {
              "content": "=Here is recent support performance data:\n\n{{$json}}\n\nAnalyze it and suggest ONE improvement.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        1680,
        352
      ],
      "id": "6a936115-461d-46d6-9335-56ae22fc2369",
      "name": "Optimizer Agent",
      "credentials": {
        "googlePalmApi": {
          "id": "jUvrQZjXBKbBhWGi",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1456,
        352
      ],
      "id": "90d89d2a-4a62-4627-bc7b-84dca0a0dd3e",
      "name": "Fetch Support Logs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DYECCOYz6fbPYzXR",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6a49ae77-6543-41f4-93f1-6ac3f57e6eb6",
              "leftValue": "={{$json.approved}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        352
      ],
      "id": "53cb40df-a2c3-49aa-9e54-6484c53e58df",
      "name": "Approve Optimization?"
    },
    {
      "parameters": {
        "method": "POST",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"🧠 AI Optimizer Suggestion\\nType: {{$json.change_type}}\\nSuggestion: {{$json.suggestion}}\\nReason: {{$json.reason}}\\n\\nReply: APPROVE or REJECT\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2048,
        352
      ],
      "id": "e046e434-d3fc-4164-b5b4-9de90ec6f0f9",
      "name": "Slack — Optimization Suggestion"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2720,
        336
      ],
      "id": "32265f0b-6c5e-425b-9d41-afa320d5d585",
      "name": "Approved Rules Store",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "DYECCOYz6fbPYzXR",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "connections": {
    "Optimizer Trigger": {
      "main": [
        [
          {
            "node": "Fetch Support Logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Optimizer Agent": {
      "main": [
        [
          {
            "node": "Slack — Optimization Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Support Logs": {
      "main": [
        [
          {
            "node": "Optimizer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Approve Optimization?": {
      "main": [
        [
          {
            "node": "Approved Rules Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack — Optimization Suggestion": {
      "main": [
        [
          {
            "node": "Approve Optimization?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6536b13c8111a267a59381ec37a1619ad1d1752c8ccfd022c77fb3aa942d8660"
  }
}